.welcome-page{
    overflow: hidden;
}

.welcome-page-bg{
    position: fixed;
    height: 100vh; /* Adjusts image to just the height of the viewport */
    left: -175px;
    bottom: 0px; /* Stick image to the bottom of the screen */
    z-index: -999; /* Ensures image is behind all elements */
}

.welcome-page-content{
    background-color: rgba(255, 255, 255, 0.75);
    height: 100vh;
}

.welcome-page-gradient{
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 255, 255, 0.75));
    height: 100vh;
}

.welcome-txt-md{
    font-size:3em; line-height: 0.75em;
}

.welcome-txt-lg{
    font-size:7em;
    line-height: 0.75em;
}

/*Used alongside Bootstrap classes; `!important` necessary*/
.welcome-txt-links{
    font-size: 1.25em !important;
    text-align: end !important;
    border: 0 !important;
    border-radius: 0 !important;
    border-right: 6px solid !important;
    border-color: #F2A900 !important;
    margin-bottom: 6px;
}

.vertical-line{
    border-right: 12px solid #F2A900;
}